<div *ngFor="let product of prod">

    <div class="card" style=" float: left;">
        <img [src]="product.img" class="card-img-top" alt={{product.title}}>
        <div class="card-body">
            <h5 class="card-text">{{product.title}}</h5>
            <h6 class="card-text">{{product.price}}</h6>
            <p class="card-text">{{product.des}}</p>
        </div>
        <div>
            <nav>
                <button (click)="navigateToDetail()" type="button" class="btn btn-warning" style="margin: 5px;">Product details</button>
                <button (click)="navigateToCart()"type="button" class="btn btn-success" style="margin: 5px;">Add to cart</button>
            </nav>
        </div>
    </div>
</div>