.footer {
    background-color: #f8f9fa;
    border-top: 1px solid #dee2e6;
    height: 50px;
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 1030;
    margin-top: 10px;
  }
  
  .footer p {
    margin-bottom: 0;
    margin-top: 0;
  }
  
  .footer a {
    color: #6c757d;
    font-size: 1rem;
    margin-bottom: 10px;
  }
  
  .footer .col-md-6 {
    display: flex;
    align-items: center;
  }
  
  .footer .col-md-6.text-end {
    justify-content: flex-end;
  }