<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">WatchMart</a>

    <!-- Navigation Links -->
    <div class="navbar-nav ms-2 me-auto">
      <a class="nav-item nav-link" routerLink="/">Home</a>
      <a class="nav-item nav-link ms-3" routerLink="/products">Products</a>
    </div>
    
    <!-- Search Form -->
    <form class="d-flex mx-auto">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
    
    <!-- Profile Picture and Cart -->
    <div class="navbar-nav ms-auto">
      <a class="nav-link" href="#">
        <img src="../../../assets/icon.jpg" alt="Profile" class="rounded-circle" style="width: 30px; height: 30px;">
      </a>
      <a class="nav-item nav-link ms-3" routerLink="/cart">
        <i class="bi bi-cart" style="font-size: 1.5rem;"></i>
      </a>
    </div>
  </div>
</nav>