body {
  font-family: Arial, sans-serif;
  padding-top: 0;
  padding-bottom: 50px;
  margin: 0;
}

.navbar {
  height: 60px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  margin-bottom: 0;
}

.navbar-nav {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.navbar-nav .nav-link {
  padding: 0.5rem 1rem;
}

.navbar-nav .nav-item {
  margin: 0 5px;
}

.nav-item img {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-icon {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-nav.ms-auto {
  display: flex;
  align-items: center;
}